name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}  

    steps:
      - uses: actions/checkout@v4                   # telecharger la repo dans le runner

      - name: Upload static files
        uses: actions/upload-pages-artifact@v3      # prends tout le contenu du dossier site et le prepare pour le deploiement
        with:
          path: site  

      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4               # deploie le contenu prepare precedemment sur github pages
